
<head>
  <meta http-equiv="Content-Security-Policy" content="default-src 'none'; connect-src 'self';font-src 'self'; img-src 'self' data: https:; style-src 'self' ; script-src 'self'">
  <link href="/styles/styles.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/ba12d81664.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
</head>
<body class="home"></body>
  {{#each reviews}}
<div class ="container">
    <div class="card mb-5">
          <div class="card-header clearfix">
            <div class="row">
              <div class="col-3">
                <h2 class="card-title">{{this.Title.name}}</h2>
              </div>
              <div class="col-9 mt-2">
              <h5 class="float-right">{{this.User.username}}</h5>
              </div>
            </div>
            </div>
          <div class="row">
            
              <div class="card-body">
                <img id="poster" class="img-thumbnail float-left mr-3 ml-2" src="{{this.Title.poster}}">
                
                <p id="review" class="card-text">{{this.review_body}}</p>
                <h4 class="blockquote-footer" id="stars-{{@index}}"></h4>
                <p id="date">{{this.createdAt}}</p>

            </div>
          </div>
      </div>
</div>
  {{/each}}

    <script src="./js/stars.js" type="text/javascript"></script>



